body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #95c28f;
    padding: 20px;
    text-align: center;
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #e43d3d;
}

h1 {
    color: #333;
    font-size: 28px;
    margin: 20px 0;
}

h1 span {
    color: #007bff;
    font-weight: bold;
}

h3 {
    color: #555;
    font-size: 22px;
    margin-bottom: 10px;
}

#users-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
    background-color: #559c92;
}

#users-list li {
    background-color: bisque;
    color: #333;
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#users-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

#users-list li::before {
    content: "👤";
    font-size: 20px;
    margin-right: 10px;
}

#users-list li span {
    font-weight: bold;
    color: #007bff;
}

#users-list li small {
    font-size: 14px;
    color: #888;
}
